@media only screen and (max-height: 500px) {
  footer{
    display:none;
  }


  .heading{
    display: none;
  }
}




.amgamegif {
  height: 45vw;
  width: 45vw;
  max-width: 500px;
  max-height: 500px;
  min-width: 250px;

  min-height: 250px;

} 

