.container{
  
}



.amgspeedoptions{
  min-height: 50px;
  min-width: 155px;
}


footer{
    margin-top: 1em;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    float:none;
    text-align: center;

}




@media  screen and (max-width: 767px) {
  footer{
    position: relative;
  }


}


@media  screen and (max-height: 700px) {
  footer{
    display:none;
  }
  
  .heading{
    display: none;
  }
}



.amggif {
  height: 50vh;
  width: 70vw;
  max-width: 500px;
  max-height: 500px;
  min-width: 250x;

  min-height: 250px;

} 

