.container{
  min-height: 75vh;
}

.amggif {
  height: 75vw;
  width: 100vw;
  max-width: 500px;
  max-height: 500px;
  min-width: 200px;

  min-height: 200px;

} 

.amgspeedoptions{
  min-height: 150px;
  min-width: 155px;
}


footer{
    margin-top: 1em;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    float:none;
    text-align: center;

}




@media  screen and (max-width: 767px) {
  footer{
    position: relative;
  }
}


@media  screen and (max-height: 700px) {
  footer{
    display:none;
  }
  .amgamegif {
    height: 90vh;
    width: 90vw;
    max-width: 500px;
  max-height: 500px;
  min-width: 200px;

  min-height: 200px;

  }
  .heading{
    display: none;
  }
}





